<!DOCTYPE html>
<html>
<head>
  <title>Wheretogo</title>

  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%=Rails.application.secrets.google_maps%>&callback=initMap">
  </script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
